// colors

$black-standart-text: #000000;
$white-standart: #FFFFFF;
$first-blue: #6C47FF;
$second-blue: #4F2CD9;
$third-blue: #3213AC;
$fourth-blue: #240C86;
$light-grey: #F8F8F8;
$medium-grey: #D9D9D9;
$dark-grey: #595959;
$standart-red: #D73737;
$dark-red: #B72121;
