@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.button {
  border: none;
  background-color: $second-blue;
  color: $white-standart;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-right: 25px;
  cursor: pointer;
  @include font-h4;

  &_inactive {
    background-color: $medium-grey;
    cursor: default;
    pointer-events: none;
    color: $black-standart-text;
  }
}

.button:hover {
  background-color: $third-blue;
}

.button:active {
  background-color: $fourth-blue;
}
