@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.favorite {
  margin-bottom: 130px;

  &__header {
    @include font-h1;
    padding-bottom: 26px;
    border-bottom: 1px $medium-grey solid;
    margin-bottom: 64px;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}
